.outer-container{
    margin-top:50px;
    margin-left:5%;
    margin-right:10%;
    align-items: center;
    text-align: center;
}
.profil-table {
    width: 100%;
    border-collapse: collapse;
}
.profil-table th, .profil-table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}
.profil-table td img {
    max-width: 100px;
    border-radius: 5px;
}
.profil-table .details td {
    padding: 10px;
    background-color: #f9f9f9;
}
