.outer-container{
    margin-top:50px;
    margin-left:5%;
    margin-right:10%;
    background-color: white;
    align-items: center;
    text-align: center;
}
.imgcontainer sideimg {
        display:flex;
        align-items: center;
        margin:5%;
        padding:10px;
        width:20%;
        height:auto;
}
