body {
    margin: 0;
    padding: 0;
}

.leftbar {
    width: 250px;
    background-color: #f8f9fa; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.two-columns {
    display: inline-flex;

}

.dashboard {
    min-width: 1000px;
    width: auto;
    text-align: left;
}

.dash-button {
    width: 200px;
}