.outer-container{
    padding:0px;
}
.category-img {
        display : flex;
        align-items: center;
        width:350px;
        height:350px;
        margin : 10px;
        padding:3%;
}
.bigbutton {
    align-items: center;
    font-size: 40px; 
    border-radius: 10px; 
    background-color: rgb(73, 73, 156);
    padding: 10px 20px;
    cursor: pointer;    
}
.bigbutton:hover {
    background-color: rgb(43, 19, 86); 
}
