.container {
    display: flex; 
}
.vignette-container {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    max-height: 700px;
    overflow-y: auto;
}

.vignette {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.message-container {
    max-width: 600px;
    margin: auto;
    max-height: 700px;
    overflow-y: auto; 
}

.message {
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word; 
}

.message-recu {
    background-color: #ddd; 
    color: #000; 
    text-align: left; 
}

.message-envoye {
    background-color: #2196f3; 
    color: #fff; 
    text-align: right; 
    margin-left: auto; 
    max-width: 70%;        
}

.message-form {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}
.message-form input {
    width: 80%;
    padding: 8px;
    margin-right: 5px;
}
.message-form button {
    padding: 8px;
}
