.statut-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% de la hauteur de la vue */
    background-color: #f8f9fa; /* Changez la couleur de fond selon vos besoins */
    font-size: 24px; /* Taille du texte */
    }

    .statut-error h2 {
        margin-bottom: 20px;
    }

    .statut-error p {
        margin-bottom: 40px;
    }

    .statut-error button {
        padding: 15px 30px;
        font-size: 20px;
        border-radius: 15px;
        cursor: pointer;
        background-color: #007bff; /* Changez la couleur du bouton selon vos besoins */
        color: white; /* Couleur du texte du bouton */
        border: none;
    }

    .statut-error button:hover {
        background-color: #0056b3; /* Changez la couleur du bouton au survol selon vos besoins */
    }