.statut-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #f8f9fa; 
    font-size: 24px; 
    }

    .statut-error h2 {
        margin-bottom: 20px;
    }

    .statut-error p {
        margin-bottom: 40px;
    }

    .statut-error button {
        padding: 15px 30px;
        font-size: 20px;
        border-radius: 15px;
        cursor: pointer;
        background-color: #007bff; 
        color: white; 
        border: none;
    }

    .statut-error button:hover {
        background-color: #0056b3; 
    }