.connect-container{
    margin-left:30%;
    margin-right:30%;
    margin-top:5%;
    margin-bottom:5%;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(148, 141, 145);
    background-color : #FFCFDE;
    max-width: 600px;
    width: 100%; 
    padding: 20px;
    box-sizing: border-box; 
}
